body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.proyecto {
    text-align: center;
}

img {
    max-width: 60%;
    height: auto;
    margin-top: 15px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.image-container img {
    max-width: 15%; 
    height: auto;
}
